body{
	margin: 0;padding: 0;
}

.videoHolder{
	width:100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	cursor: default;
}
.videoHolder video{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}
.videoHolder .book{
	position: absolute;
	z-index: 3;
	width: 100%;
}
.videoHolder .book img{
	position: absolute;
	display: block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

#videoHolderBottom{
	z-index: 0;
}
#videoHolderTop{
	z-index: 2;
}
#hiddenVideos{
	display: none;
}
.attachLeft{ left: 0; }
.attachLeft video, .attachLeft img{ left: 0; }

.attachRight{ right: 0; }
.attachRight video, .attachLeft img{ right: 0; }